<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>810197226419-qtdbbefm70hfmg2fbpi6ep0i2h241uf2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.810197226419-qtdbbefm70hfmg2fbpi6ep0i2h241uf2</string>
	<key>API_KEY</key>
	<string>AIzaSyB35PPZ9QmmbE-9bWA-uOkzM8AfZB0fCPY</string>
	<key>GCM_SENDER_ID</key>
	<string>810197226419</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ken.HappyNews</string>
	<key>PROJECT_ID</key>
	<string>happynews-5c589</string>
	<key>STORAGE_BUCKET</key>
	<string>happynews-5c589.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:810197226419:ios:2bb0f8c861697418ccb1c6</string>
	<key>DATABASE_URL</key>
	<string>https://happynews-5c589.firebaseio.com</string>
</dict>
</plist>