<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>800108529443-qkldsgjfdf27edg84nl87nv8nosib85h.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.800108529443-qkldsgjfdf27edg84nl87nv8nosib85h</string>
	<key>API_KEY</key>
	<string>AIzaSyB8XoOrCi0_mphIEfeclfvUEDI-KGq-8Ng</string>
	<key>GCM_SENDER_ID</key>
	<string>800108529443</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ken-sasaki.HappyNews</string>
	<key>PROJECT_ID</key>
	<string>happynews-5acab</string>
	<key>STORAGE_BUCKET</key>
	<string>happynews-5acab.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:800108529443:ios:9c0a3da54259dc079bae96</string>
</dict>
</plist>